---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Learn more', href: '#features' }}
    callToAction2={{ text: 'How it works', href: '#how-it-works' }}
  >
    <Fragment slot="title">Get a complete README file in seconds.</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Writeme</span> is a free CLI application that removes the burden of writing a README
        file from scratch.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Writeme: fast readme file generation.</span> Suitable for
      any project.
    </Fragment>
  </Hero>

  <Features
    highlight="Features"
    title="What you get with Writeme"
    items={[
      [
        {
          title: 'Automatic README generation',
          description:
            'Writeme generates a README file for your project based by scanning your project. It is that simple.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Best Practices',
          description:
            'Writeme uses best practices to generate README files. It follows https://www.makeareadme.com/ guidelines.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Template based',
          description: 'Writeme uses a template based approach to generate README files.',
          icon: 'tabler:components',
        },
        {
          title: 'Open Source',
          description: 'Writeme is open source. You can use it for free, and you can contribute to the project.',
          icon: 'tabler:code',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Features
    highlight="what's inside?"
    title="How it works?"
    items={[
      [
        {
          title: 'Scans your project',
          description:
            'Writeme scans your project and generates a README file based on the files it finds. It is that simple.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Supported files',
          description:
            'The scan tries to identify your project type to convert fetch the right information. Currently supported files are: package.json, composer.json, Cargo.toml',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Written in Rust',
          description: 'We believe in performance and code quality. That is why we chose Rust to build Writeme.',
          icon: 'tabler:components',
        },
      ],
    ]}
  />

  <FAQs
    title="Frequently Asked Questions"
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            "If you're on MacOS, you can install it using brew: <code>brew install writeme</code>. Otherwise go to the github's releases page and download the latest version for your platform.",
        },
        {
          question: 'Why?',
          answer:
            "We were tired of writing README files from scratch. We wanted a tool that could generate a README file for us. We couldn't find one that we liked, so we built it.",
        },
      ],
      [
        {
          question: "Does it generate a 'production-ready' README file?",
          answer:
            'Kinda. You will still need to edit the file and add some information that Writeme does not know about your project. But it will save you a lot of time.',
        },
        {
          question: "What's the license?",
          answer:
            "The project is open source, we'd love to have you contributing to it. It is licensed under the MIT license.",
        },
      ],
    ]}
  />

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Download',
      href: 'https://github.com/writeme-project/writeme/releases',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">Writeme</Fragment>

    <Fragment slot="subtitle">You're just a few steps away from generating a README file for your project.</Fragment>
  </CallToAction>
</Layout>
